body {
	background-color: lightblue;
}
background{
	color:green;
}
outset {
	border-style: outset;
	border-left: 10px;
	border-right:10px;
	}
ul{
	 list-style-type: circle;
}	
a:hover {
   
   text-decoration: underline;
}
a:active {
    text-decoration: underline;
}
div {
  background-color: green;
}